@charset "utf-8";

body
{
	background-image:url(https://afremov.com/image.php?type=P&id=18106);
	background-size: cover;
	background-repeat: no-repeat;
	color:#000000;
}

a:link
{
	font-weight:normal;
	color:#dddddd;
}

a:visited
{
	font-weight:normal;
	color: #009900;
}

a:hover
{
	font-weight:normal;
	color: #00aa00;
}

.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav li {
	float: left;
	border-right: 1px solid #bbb;
	background-color: #dddddd;
}

.nav li:last-child {
	border-right: none;
}

.nav li a {
	display: block;
	padding: 8px;
	color: #000000;
	text-decoration: none;
}

.nav li a:hover {
	background-color: #aaaaaa;
}
