@charset "utf-8";

body
{
	background-image:url(https://afremov.com/image.php?type=P&id=18106);
}

a:link
{
	font-weight:normal;
	color:#dddddd;
}

a:visited
{
	font-weight:normal;
	color: #009900;
}

a:hover
{
	font-weight:normal;
	color: #00aa00;
}

p
{
	color:#ffffff;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.nav li {
    float: left;
    margin: 2px;
    background-color: #dddddd;
}

.nav li a {
    display: block;
    padding: 8px;
    color: #000000;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #aaaaaa;
}
